body{
    margin: 0;
}

*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
  }
  

.container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    /* background-color: antiquewhite; */
}

.header-container{
    display: flex;
    /* top: 0px;
    left: 0px; */
    width: 1280px;
    height: 106px;
    /* UI Properties */
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.header-icon{
    /* top: 35px;
    left: 188px; */
    width: 50px;
    height: 47px;
    /* UI Properties */
    /* border: 1px solid #42515F; */
    /* opacity: 1; */
    /* background-color: red; */
    background: url(../assets/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.header-text{
    /* top: 32px;
    left: 246px; */
    width: 127px;
    height: 52px;

    /* UI Properties */
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
    color: #82A70C;
}

.header-text2{
    color: #42515F;;
}

.details-container{
    display: flex;
    
}
.details-text{
    top: 156px;
left: 188px;
width: 217px;
height: 37px;
/* UI Properties */
text-align: left;
font: normal normal bold 28px/25px Roboto;
letter-spacing: 0px;
color: #42515F;
opacity: 1;
}

.details-search{
    display: flex;
    justify-content: center;
    align-items: center;

position: relative;
/* top: 156px; */
left: 720px;
width: 77px;
height: 55px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000029;
border-radius: 28px;
opacity: 1;
/* border: 2px solid red; */
}

#srh{
    font-size: 30px;
}

.add-user{
display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: center;
position: relative;
/* top: 156px; */
left: 750px;
width: 215px;
height: 55px;
/* UI Properties */
background: #82A70C 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
/* border: 2px solid blueviolet; */
}

#pls{
    width: 24px;
height: 24px;
color: #FFFFFF;
/* UI Properties */
opacity: 1;
/* border: 1px solid blueviolet; */
}

.addUser-text{
width: 89px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal normal 22px/29px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
/* border: 1px solid red; */
}

.data-container{
    display: flex;
    max-height: 100px;
    min-width: 1280px;
    /* border: 5px solid red; */
}

.data-header{
display: flex;
align-items: center;
justify-content:space-evenly;
top: 254px;
left: 188px;
width: 1549px;
height: 67px;
/* UI Properties */
background: #42515F 0% 0% no-repeat padding-box;
border-radius: 3px 3px 0px 0px;
opacity: 1;
}
.header-id{
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;  
}

.header-name{
    top: 276px;
    left: 299px;
    width: 51px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.header-gender{
    top: 276px;
    left: 723px;
    width: 68px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.header-department{
    top: 276px;
    left: 977px;
    width: 115px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.header-salary{
    top: 276px;
    left: 1285px;
    width: 67px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.header-sDate{
    top: 276px;
    left: 1457px;
    width: 102px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.header-actions{
    top: 276px;
left: 1622px;
width: 76px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}

.header-icons{
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;  
}

#employeeTable{
    /* display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start; */
    min-height:200px;
    /* width: 100vw; */
    /* border: 1px solid blueviolet; */

}
#trElement{
    /* background-color:rebeccapurple; */
    display: flex;
    justify-content:space-around;
    align-items:center;
    box-shadow: 0px 1px 3px #00000029;
}

#pens ,#trs{
background: transparent;
margin:8px;
/* border: 1px solid #000000; */
}
/* th{
    border-top: 1px solid blueviolet;
}

td{
    border-top: 1px solid red;
}

tr{
    border-top: 1px solid green;
} */